/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 	0
#define NUMBERS 	1
#define MOVE		2
#define GAMING		3
#define MODIFIERS 	4
#define NOTHING 	5

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp TAB   &kp Q 	&kp W 		&kp E 		&kp R 		&kp T                                                		&kp Y 		&kp U  		&kp I 		&kp O 		&kp P		&kp SQT
	&kp LSHFT &kp A 	&kp S 		&kp D 		&kp F 		&kp G                                                		&kp H 		&kp J  		&kp K 		&kp L 		&kp SEMI 	&kp MINUS
	&kp LCTRL &kp Z 	&kp X 		&kp C 		&kp V 		&kp B 		&kp LPAR   	&kp ESC     	&kp LSHFT &kp RPAR 	&kp N 		&kp M 		&kp COMMA 	&kp PERIOD 	&kp SLASH 	&kp RCTRL
									&kp LGUI 	&kp LALT 	&kp DEL 	&kp SPACE 	&mo NUMBERS    	&mo MOVE  &kp RET   &kp BSPC 	&kp RALT 	&kp RCTRL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};


		move {
			bindings = <
	&trans 	&trans 	&trans 		&kp UP 		&trans 		&trans 														&kp HOME 	&kp END		&kp PG_UP 	&kp PG_DN 	&trans 	&trans
	&trans 	&trans 	&kp LEFT 	&KP DOWN 	&kp RIGHT 	&trans 														&kp LEFT 	&kp DOWN 	&kp UP 		&KP Down 	&trans 	&trans
	&trans 	&trans 	&trans 		&trans 		&trans 		&trans 	&kp LBRC &trans						&trans &kp RBRC	&trans 		&trans 		&trans 		&trans 		&trans 	&trans
								&kp LGUI 	&kp LALT 	&kp DEL &kp SPACE &mo NUMBERS 		&kp RET &kp RET &kp BSPC &kp RALT &kp RCTRL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		gaming {
			bindings = <
	&kp N1 	&kp TAB 	&kp Q 	&kp W 	&kp E 	&kp R 														&trans 	&trans 	&trans 	&trans 	&trans 	&trans
	&kp N2 	&kp LSHFT 	&kp A 	&kp S 	&kp D 	&kp F 														&trans 	&trans 	&trans 	&trans 	&trans 	&trans
	&kp N3 	&kp LCTRL 	&kp Z 	&kp X 	&kp C 	&kp V 	&trans 	&trans						&trans &trans 	&trans 	&trans 	&trans 	&trans 	&trans 	&trans
							&kp LGUI 	&kp LALT 	&kp DEL &kp SPACE &mo NUMBERS 		&kp RET &kp RET &kp BSPC &kp RALT &kp RCTRL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		modifiers {
			bindings = <
	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 														&trans 	&trans 	&trans 	&trans 	&trans 	&trans
	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 														&trans 	&trans 	&trans 	&trans 	&trans 	&trans
	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 	&trans						&trans &trans 	&trans 	&trans 	&trans 	&trans 	&trans 	&trans
							&kp LGUI 	&kp LALT 	&kp DEL &kp SPACE &mo NUMBERS 		&kp RET &kp RET &kp BSPC &kp RALT &kp RCTRL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		nothing {
			bindings = <
	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 														&trans 	&trans 	&trans 	&trans 	&trans 	&trans
	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 														&trans 	&trans 	&trans 	&trans 	&trans 	&trans
	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 	&trans 	&trans						&trans &trans 	&trans 	&trans 	&trans 	&trans 	&trans 	&trans
							&kp LGUI 	&kp LALT 	&kp DEL &kp SPACE &mo NUMBERS 		&kp RET &kp RET &kp BSPC &kp RALT &kp RCTRL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

	};
};